<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="stylesheet" href="/asset/css/style.css">
    <meta charset="UTF-8">
    <title>聊天界面</title>
    <!-- 引入公共头部 -->
    {{template "head.html" .}}
</head>
<body>
<!--底部菜单-->
{{template "tabmenu.html" .}}
<div class="container">
    <!-- 聊天联系人列表 -->
    {{template "concat.html" .}}

    <!-- 群组列表 -->
    {{template "group.html" .}}

    <!-- 个人中心 -->
    {{template "profile.html" .}}

    <!-- 聊天主界面 -->
    {{template "main.html" .}}
</div>
</body>
</html>
{{template "foot.html" .}}